---
title: A page for you
layout: base.njk
---

<div id="title" class="container">
    <h1>Esta es una pagina para ti</h1>
    <div class="vibe">Tu eres, </div>
    <div class="love">
        &#10084;&#65039;
    </div>
</div>
<script src="/js/vibe.js"></script>