---
title: A page for you
layout: base.njk
---

<div id="title" class="container">
    <h1>This is a page for your business</h1>
    <div class="vibe">you are great</div>
    <div class="love">
        &#10084;&#65039;
    </div>
</div>
<script src="/js/vibe.js"></script>